Repository openshift/knative-eventing, pull requests merged in 2022-09, with the labels that each got.

#1872 [release-v1.7] Correct the upstream 1.7 release adjustments on midstream branch
  go.mod
  go.sum
  vendor/knative.dev/hack/release.sh
  vendor/modules.txt
Labels: lgtm, approved

#1875 [release-1.5] InMemoryChannel receiver validates received events (#6514)
  pkg/channel/message_receiver.go
  pkg/channel/multichannelfanout/multi_channel_fanout_message_handler_test.go
  test/rekt/features/channel/data_plane.go
Labels: lgtm, approved, area/test-and-release

#1874 [release-1.6] InMemoryChannel receiver validates received events (#6513)
  pkg/channel/message_receiver.go
  pkg/channel/multichannelfanout/multi_channel_fanout_message_handler_test.go
  test/rekt/features/channel/data_plane.go
Labels: lgtm, approved, area/test-and-release

#1876 [release-1.4] InMemoryChannel receiver validates received events (#6515)
  pkg/channel/message_receiver.go
  pkg/channel/multichannelfanout/multi_channel_fanout_message_handler_test.go
  test/rekt/features/channel/data_plane.go
Labels: lgtm, approved, area/test-and-release

#1878 Patching a patch for Container Source
  openshift/patches/018-rekt-test-image-changes.patch
Labels: lgtm, approved

#1884 [release-v1.7 Using proper versioned images for 1.7
  test/rekt/features/apiserversource/data_plane.go
  test/rekt/resources/containersource/containersource.yaml
  test/rekt/resources/containersource/containersource_test.go
  test/rekt/resources/eventlibrary/eventlibrary.yaml
  test/rekt/resources/eventlibrary/eventlibrary_test.go
  test/rekt/resources/flaker/flaker.yaml
  test/rekt/resources/flaker/flaker_test.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
Labels: approved, area/test-and-release

#1880 [release-v1.3] Using proper versioned images for 1.3.2
  test/rekt/features/apiserversource/data_plane.go
  test/rekt/resources/containersource/containersource.yaml
  test/rekt/resources/containersource/containersource_test.go
  test/rekt/resources/eventlibrary/eventlibrary.yaml
  test/rekt/resources/eventlibrary/eventlibrary_test.go
  test/rekt/resources/flaker/flaker.yaml
  test/rekt/resources/flaker/flaker_test.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
Labels: lgtm, approved, area/test-and-release

#1881 [release-v1.4] Using proper versioned images for 1.4
  test/rekt/features/apiserversource/data_plane.go
  test/rekt/resources/containersource/containersource.yaml
  test/rekt/resources/containersource/containersource_test.go
  test/rekt/resources/eventlibrary/eventlibrary.yaml
  test/rekt/resources/eventlibrary/eventlibrary_test.go
  test/rekt/resources/flaker/flaker.yaml
  test/rekt/resources/flaker/flaker_test.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
Labels: lgtm, approved, area/test-and-release

#1882 [release-v1.5] Using proper versioned images for 1.5
  test/rekt/features/apiserversource/data_plane.go
  test/rekt/resources/containersource/containersource.yaml
  test/rekt/resources/containersource/containersource_test.go
  test/rekt/resources/eventlibrary/eventlibrary.yaml
  test/rekt/resources/eventlibrary/eventlibrary_test.go
  test/rekt/resources/flaker/flaker.yaml
  test/rekt/resources/flaker/flaker_test.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
Labels: lgtm, approved, area/test-and-release

#1883 [release-v1.6] Using proper versioned images for 1.6
  test/rekt/features/apiserversource/data_plane.go
  test/rekt/resources/containersource/containersource.yaml
  test/rekt/resources/containersource/containersource_test.go
  test/rekt/resources/eventlibrary/eventlibrary.yaml
  test/rekt/resources/eventlibrary/eventlibrary_test.go
  test/rekt/resources/flaker/flaker.yaml
  test/rekt/resources/flaker/flaker_test.go
  vendor/knative.dev/reconciler-test/pkg/eventshub/103-pod.yaml
Labels: approved, area/test-and-release

#1892 [release-v1.7] Do not use v1b1 from Cronjobs (#6537)
  test/lib/creation.go
Labels: lgtm, approved, area/test-and-release

#1889 [release-v1.5] Do not use v1b1 from Cronjobs
  test/e2e/source_sinkbinding_v1_test.go
  test/lib/creation.go
Labels: lgtm, approved, area/test-and-release

#1894 [release-v1.5] SRVKE-1265 SO specific patch for TestBrokerNamespaceDefaulting
  openshift/patches/018-e2e-test-so-fix-TestBrokerNamespaceDefaulting.patch
  test/e2e/broker_defaults_webhook_test.go
Labels: lgtm, approved, area/test-and-release
